<!DOCTYPE html>
<html lang="en" class="darkdarcool">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us!</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <a href="/"><button>Go to the main page</button></a>
    <h1>Hi! My name is Koushikijaiswal!</h1>
    <h4>
      I am a 22 year old coder .
    </h4>
    <h2>Languages I know:</h2>
    <h4>
      I know: C,java, python, html, css, javascript, node js,mongodb,express js and little bit of mysql.
      
    </h4>
    <h2>Roles:</h2>
    <h4>
      currently i am pursuing b.tech 
    </h4>
    <h2>Contact:</h2>
    <h4>
      If you wanna ping me, do so in the comments. You can also ping me on
      github.
    </h4>
    <br /><br /><br />
    <h2>You have just viewed a mod of the my profile.</h2>
    <img src="../6th sem.jpg" style="height: 300px;width: 300px;" alt="">
  </body>
</html>
