<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>EPIC PIE PAGE EPICCC</title>
  </head>
  <body>
    <h1>i am pie man</h1>
    <p>
      Hello welcome to my page, I live in kolkata
      I program in javascript and express js. Thats what i am good
      at, these are what im learning:
    </p>
    <ul>
      <li>java</li>
      <li>C</li>
      <li>javascript</li>
      <li>Node.js</li>
      <li>and many more...</li>
    </ul>
    <p>Ok now contacts:</p>
    <ul>
      <li><a href="https://github.com/Koushikijaiswal">git huB </a></li>
    </ul>

    <p>
      E!!
      <a href="https://About-Page.whippingdot.repl.co">HOORAAAAY PRESS ME!</a>
    </p>
  </body>
</html>
